@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&family=Noto+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans', sans-serif;
  color: #111814;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Public Sans', sans-serif;
}

/* Custom Scrollbar từ HTML gốc */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.step-circle {
  box-shadow: 0 0 0 4px #f0fdf4;
}